.lockNumber {
  margin-right: 0.15rem;
  padding-top: 0.2rem;
  width: 1rem;
  display: inline-block;
  line-height: 1.5rem;
}

.lockNumbers {
  top: 6rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

.lock {
  width: 10rem;
  height: 10rem;
  margin-right: -2rem;
}

.title {
  top: 4.5rem;
  font-size: 1.5rem;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

.shackle {
  height: 4.5rem;
  width: 100%;
  position: absolute;
  display: block;
}
.shackleImage {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  position: absolute;
  display: block;
  top: 0.25rem;
  transform: rotateY(0deg);
  transform-origin: 6.75rem 2rem;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  background-image: url("/images/lock-fill.svg");
  background-size: 10rem 10rem;
  box-sizing: border-box;
}
.shackleImage.open {
  transform: rotateY(-180deg);
}
