@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";

body,
html,
:root,
#__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

thead {
  border: 0.125rem solid black;
  border-bottom: 0.3rem double black;
}

tr:nth-child(even) td {
  background-color: rgb(225, 225, 225);
}

th,
td {
  border: 0.125rem solid black;
  padding: 0.25rem;
}

table {
  border: 0.125rem solid black;
}

.task-list-item-checkbox {
  left: -1rem;
  top: -0.75rem;
}

.dotDotDot::after {
  content: "";
  animation-name: dotDotDot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
  position: relative;
  left: 2rem;
}

@keyframes dotDotDot {
  0% {
    content: "";
  }
  17% {
    content: ".";
  }
  34% {
    content: "..";
  }
  48% {
    content: "...";
  }
  62% {
    content: "..";
  }
  76% {
    content: ".";
  }
  100% {
    content: "";
  }
}
